<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>{{sum @index 1}}</td>
          <td>{{this.name}}</td>
          <td class="">
            <a href="/courses/{{this._id}}/edit" class="button-primary mx-4">Sửa</a>
            <a href="" class="button-primary mx-4">Xóa</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
