<div class='mt-4 px-5'>
  <form method='POST'>
    <div class='form-group'>
      <label for='exampleInputEmail1'>Search</label>
      <input type='text' class='form-control' name='my_name' />
      <small id='emailHelp' class='form-text text-muted'>Enter your key word.</small>
    </div>

    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
</div>